# Virtual environment
venv/
env/
.venv/
/venv

# ignore files
fastapi_serverr.py
langgraph_agent.txt
medical_agent.py

# Database
chatbot.db

# Environment variables
.env

# Chroma DB
chroma_db/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db